# Paths
baseDir = "/home/lars/BER_datastore/lkolbowski/xiDIA-library/"

psm_csv_path = baseDir + "psm_csv/"
mzml_path = baseDir + "mzml/"
output_path = baseDir + "out/"

# iRT equation parameters
# y = m * x + t
# e.g. y= 0.6452 x + 47.469
iRT_m = 0.3807
iRT_t = 47.887

proteinId = "cytochromeC"
includeNeutralLossFragments = False
writeClSitesToModifiedSequence = True
clName = "sda"

label_experiment = False
clLightLabelName = "bs3-light"    # will be ignored if label_experiment is False
clHeavyLabelName = "bs3-heavy"    # will be ignored if label_experiment is False
deuteriumCount = 4              # will be ignored if label_experiment is False

fragmentMzLowerLim = 300
fragmentMzUpperLim = 1400

# Total number of fragments can not exceed 20!
nClContainingFragments = 10
nLinearFragments = 10