# Paths
baseDir = "/home/lars/BER_datastore/lkolbowski/xiDIA-library/"

psm_csv_path = baseDir + "psm_csv/"
mzml_path = baseDir + "mzml/"
output_path = baseDir + "out/"

# iRT equation parameters
# y = m * x + t
# e.g. y= 0.6452 x + 47.469
# in form:
# (iRT_m, iRT_t)
# if you have more than one entry in this list the input csv file needs to have a column called
# 'irt_group', which gives the index into the list (0 for the first entry, 1 for the second, etc..)
iRT_params = [
    (0.3807, 47.887),
]

proteinId = "cytochromeC"
includeNeutralLossFragments = False
writeClSitesToModifiedSequence = True
clName = "sda"

label_experiment = False
clLightLabelName = "bs3-light"    # will be ignored if label_experiment is False
clHeavyLabelName = "bs3-heavy"    # will be ignored if label_experiment is False
deuteriumCount = 4              # will be ignored if label_experiment is False

fragmentMzLowerLim = 300
fragmentMzUpperLim = 1400

# Total number of fragments can not exceed 20!
nClContainingFragments = 10
nLinearFragments = 10
